td .category {
  padding-left: 20px; /* LTR */
  background-repeat: no-repeat;
  background-position-y: center;
}
[dir="rtl"] td .category {
  padding-left: 0;
  padding-right: 20px; /* LTR */
}

tr.item-error {
  background-color: #fcf4f2;
  color: #a51b00;
}
tr.item-error > td .category {
  background-image: url(../icons/error.svg);
}

tr.item-warning {
  background-color: #fdf8ed;
  color: #734c00;
}
tr.item-warning > td .category {
  background-image: url(../icons/warning.svg);
}

tr.item-passed {
  background-color: #f3faef;
  color: #325e1c;
}
tr.item-passed > td .category {
  background-image: url(../icons/check.svg);
}

tr.item-unknown > td .category {
  background-image: url(../icons/questionmark-disc.svg);
}

canvas {
  width: 50%;
  float: left;
  margin-bottom: 2em;
}
@media only screen and (max-width: 800px) {
  canvas {
    width: 80%;
    float: none;
    margin: 0 auto 2em auto;
  }
}
